
footer {
	width: 100%;
	background-color: $laOrdinaria;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: 20px;

}

.footer__link {
	color: $negroDominante;
    margin: 5% 2%
}