@import "variables";
@import "navBar";
@import "footer";

@mixin marginAll {
    text-align: left;
    margin: 10% 30% 10% 8%;
    padding: 7% 0;
}

body {
    margin: 0;

    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
    font-family: 'Raleway', sans-serif;
}

h3 {
    font-size: 20px;

}

.row {
    padding-left: 7%;
    padding-right: 7%;
}

p {
    line-height: 40px;
}

li {
    line-height: 40px;
}

section {
    text-align: justify;
}

figure {
    text-align: center;
    
}

article {
    @include marginAll();
    
}

.figure__products {
    text-align: center;
}

.product_img {
    width: 40vw;
    /* margin-left: 20%; */
}

.copy {
    padding-top: 50px;
}

/* Grid index */

.contenedor {
    text-align: center;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60% 10% 10% 10% 10%;
    justify-items: center;
}

.item {
    width: 20vw;
}

#product {
    text-align: center;
}

/* Articulos */

.encabezado {
    @include marginAll();
   
}

.encabezado2 {
    text-align: right;
    margin: 10% 30% 10% 8%;
    padding: 7% 0;
    

}




.grid {
    text-align: left;
}

.sub-titulo, .lee {
    font-size: 15px;
    margin: 30px 0;
    color: #E0DDD9;
}





/*Sección Contacto */

.header {

    color: black;
    font-size: 27px;
    padding: 10px;
    padding-top: 40px;
}

.bigicon {
    font-size: 35px;
    color: #E0DDD9;
}

/* Cards Productos */



.item {
    width: 20vw;
}

#product {
    text-align: center;
}

.titulo {
    margin: 100px auto;
}




/* Animación */


/* #slider {
    width: 100%;
    height: 800px;
    background: url(LaOrdinaria/img1.jpg);
    margin: 100px auto;
    animation: slide 20s infinite;
}

@keyframes slide {
    20% {
        background: url(LaOrdinaria/img2.jpg);
    }

    40% {
        background: url(LaOrdinaria/img3.jpg);
    }

    60% {
        background: url(LaOrdinaria/img4.jpg);
    }

    80% {
        background: url(LaOrdinaria/img5.jpg);
    }

    100% {
        background: url(LaOrdinaria/img1.jpg);
    }
} */


    
@media (max-width: 768px) {

    .contenedor {
        display: inline;
    }

    .item {
        width: 40vw;
    }

    .card {
        margin-left: 55px;
        margin-right: 80px;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .encabezado {
        margin-left: 55px;
    }
}